h1 , h2 {
    text-align: center;      
}

h2 {
    font-size: 2rem;
}

h3 {
    text-align: center;  
}

h4 {
    padding:0.1rem;

}

table {
    width: 90rem ;
    margin : 1rem;  
}




li  > video {

    width: 95%;
    height:auto;
    
}

img {
    margin-right: 0;
}

footer > a > img {

    width: 60px;
    height:auto;
    
}

article {
    display: flex;
    flex-wrap: wrap;
    margin : 1rem;
}

article h3 {
    flex-basis : 100%;
}

article section {
    margin : 1rem;
    padding:1rem;
    flex-basis: 50%;
    flex-grow: 1;
    border-radius: 3%;
}

#article_accueil section{
    flex-basis: 27%;
    flex-grow: 1;
}





video {
    margin : 1rem;
}


#index {
    display: flex;
    flex-wrap: nowrap;
}


#index > li {
    flex-grow: 1;
    flex-basis: 30%;
}





table, td,th{
    margin: 1rem;
    border-radius: 0.3rem;}


footer {
    justify-content:center;
    text-align: center;
}


.mutliLigne {
    display: block;
}

.imageArrondie {
    width: 30%;
    height: 30%;
   
}
