h1 , h2 {
    text-align: center;      
}

h2 {
    font-size: 2rem;
}

h3 {
    text-align: center;  
}

h4 {
    padding:0.1rem;

}

nav {
    background-color: white;   
 

}

.nav {
    list-style: none;
    display: flex;
    justify-content: center; 
}

.nav li {
    margin : 0.3rem;
    padding-inline : 5rem;
    border-radius: 10px;
    transition: all 0.3s ease; 
}
.nav a{
    color: black
}
.nav li:hover {
    background: greenyellow; 
}
.nav .couleur, .nav .couleur:hover { 
    background: greenyellow; 
    border-radius: 10px;
}

main > p{
    text-align: center;
}

table {
    width: 90rem ;
    margin : 1rem;  
}

td,th{
    margin: 1rem;
    border-radius: 0.3rem;
    border: solid 2px;

}

article {
    display: flex;
    flex-wrap: wrap;
    margin : 1rem;
}

article h3 {
    flex-basis : 100%;
}

article section {
    margin : 1rem;
    padding: 1rem;
    flex-basis: 50%;
    flex-grow: 1;
    border-radius: 3%;
}

.article_accueil section{
    flex-basis: 27%;
    flex-grow: 1;
}

video {
    margin : 1rem;
    border-radius:10px;
}

li  > video {
    height: 15rem;
}


#index {
    display: flex;
    flex-wrap: nowrap;
}

#index > li {
    flex-grow: 1;
    flex-basis: 30%;
}

.imageArrondie {
    width: 30%;
    height: 30%;
    border-radius: 3%;
}

footer {
    justify-content:center;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 10px;
}

footer > a > img {
    width: 60px;
    height:auto;   
}